#home {
	&>header {
		height: 100vh;
		.swiper-container {				
			#slide_1 { background: url('../img/master-slides-01.jpg') center/cover; }
			#slide_2 { background: url('../img/master-slides-02.jpg') center/cover; }
			#slide_3 { background: url('../img/master-slides-03.jpg')  center/cover; }
			.swiper-slide {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				p {
					color: white;
					line-height: 1;
					margin: 0;
				}
				p:first-child {
					font-family: 'Courgette', cursive;
					font-size: 60px;
					margin-bottom: 10px;
				}
				p:nth-of-type(2) {
					font-family: 'Poppins', sans-serif;
					font-weight: 700;
					font-size: 90px;
					text-transform: uppercase;
					letter-spacing: 10px;
					margin-bottom: 35px;
				}
				.btn { color: $base-hover-color; }
			}
		}
	}
	#welcome {
		margin-top: 105px;
		.wrapper {
			align-items: center;
			@media screen and (max-width: 766px) { flex-direction: column; }
			&>div {
				width: 50%;
				@media screen and (max-width: 766px) { width: 80%; }
				&:first-child {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 0 30px;
					h3 { margin-bottom: 20px; }
					p { text-align: center; }
				}
			}
			.zommableimg {
				width: 390px;
				height: 390px;
				@media screen and (max-width: 766px) { margin-top: 25px; }
			}
		}
	}
	#discover {
		padding-top: 120px;
		header {
			height: 390px;
			h3 { color: white; }
		}
		#menu {
			padding-top: 115px;
			.wrapper {
				flex-direction: column;
				align-items: center;
				#menuitems {
					padding-top: 15px;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					flex-wrap: wrap;
					.menuitem {
						width: 33%;
						@media screen and (max-width: 766px) { width: 50%; }
						&.maigre { width: 66%; }
						&.groupeditems, &:last-of-type, &.maigre {
							@media screen and (max-width: 766px) { width: 100%; }
						}
						.zommableimg {
							margin: 0 15px;
							margin-top: 30px;
						}
					}
					a {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-family: 'Poppins', sans-serif;
						font-weight: 500;
						font-size: 22px;
					}
				}
			}
		}
	}
	#review {
		margin-top: 120px;
		padding-top: 115px;
		padding-bottom: 50px;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 { letter-spacing: 11px; }
		.swiper-container {				
			color: black;
			.swiper-slide {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 50px 125px;
				text-align: center;
				p {
					font-size: 18px;
					line-height: 1.7;
					color: $devil-color;
					margin: 0;
				}
				p:nth-of-type(1) { margin-top: 30px; }
				p:nth-of-type(2) { color: $base-hover-color; }
				p:nth-of-type(3) {
					font-size: 12px;
					text-transform: uppercase;
					margin-top: 30px;
					margin-bottom: 80px;
				}
				img {
					width: 118px;
					height: 118px;
					border-radius: 50%;
					border: 4px solid $base-hover-color;					
				}
			}
		}
		.swiper-pagination {
			margin-bottom: 20px;
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background-color: #958e88;
				border: 1px solid transparent;
				background-clip: padding-box;
				&.swiper-pagination-bullet-active {
					border: none;
					background-color: #d41b22;
				}
			}
		}
	}
	#video {
		.parallax-window {
			position: relative;
			height: 720px;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .5);
			}
			&>* { position: relative; }
			h3 {
				color: white;
				margin-bottom: 40px;
				letter-spacing: 10px;
			}
			i {
				font-size: 18px;
				padding: 25px 27px;
				border-radius: 50%;
				color: $sombre-color;
				background-color: white;
				@include base-transition(.3s);
				&:hover {
					transform: scale(1.2);
					color: white;
					background-color: rgba(236,29,37,0.5);
				}
			}
		}
	}
	#blog {
		padding-top: 105px;
		padding-bottom: 120px;
		background-color: white;
		text-align: center;
		.wrapper {
			flex-direction: column;
			#blogitems {
				margin-top: 50px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				text-align: left;				
				.blogitem {
					width: 31.5%;
					@media screen and (max-width: 766px) {
						width: 100%;
						&:not(:first-of-type) { margin-top: 30px; }
					}
					.zommableimg {
						width: 100%;
						.btn {
							position: absolute;
							left: 10px;
							bottom: 10px;
							font-size: 12px;
							padding: 6px 12px;
							border-radius: 5px;
							margin: 0;
							text-transform: none;
						}
					}
					h4 { margin-top: 30px; }
					p { margin-bottom: 30px; }
				}
			}
		}
	}
}