.socials {
	display: flex;
	a {
		font-size: 15px;
		padding: 0 12px;
	}
}
#mainnav, #sidemenu, .socials {
	a {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
		color: white;
	}
}
#mainnav {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 115px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	border-top: 5px solid $base-hover-color;
	@include base-transition(.2s);
	@media screen and (max-width: 992px) { height: 100px; }
	@media screen and (max-width: 557px) { height: 80px; }
	img { width: 100px; }
	#logo {
		width: 100px;
		height: 45px;
		background: url('../img/icons/logo.png') center/cover;
	}
	#navigation {
		a { padding: 0 17px; }
		@media screen and (max-width: 992px) { display: none; }
	}
	.socials {
		#bgmenu {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 24px;
			height: 15px;
			margin-left: 20px;
			cursor: pointer;
			div {
				width: 100%;
				height: 2px;
				background-color: white;
				@include base-transition(.2s);
			}
			&:hover div { background-color: $base-hover-color !important; }
		}
	}
	&.scrolled {
		height: 95px;
		background-color: rgba(255, 255, 255, .9);
		a { color: black; }
		#logo { background: url('../img/icons/logo2.png') center/cover; }
		.socials #bgmenu div { background-color: black; }
	}
}
#sidemenu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 120;
	width: 390px;
	height: 100vh;		
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include base-transition(.2s);
	transform: translatex(100%);
	i {
		align-self: flex-end;
		font-size: 30px;
		margin: 20px 30px 50px 0;
	}
	a {
		color: black;
		&:not(:last-child) { margin-bottom: 20px; }
		&:last-child { margin-top: 20px; }
	}
}
#toplink {
	position: fixed;
	z-index: 100;
	bottom: 40px;
	right: 40px;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 4px;
	padding: 10px 13px;
	i {
		font-size: 22px;
		color: white;
	}
}
