html, body, * {
	box-sizing: border-box;
}
a { text-decoration: none; }
.btn {
	background: white;
   border-radius: 10px;
	padding: 15px 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	@include base-transition(.3s);
	&.black {
		background: black;
		color: white !important;
	}
	&:hover {
		background-color: #ec1d25;
		color: white !important;
	}
}
#hidder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	@include base-transition(.2s);
}

/* Rappels :

Phones responsive :
@media screen and (min-width: 512px) {
}

Tablets responsive :
@media screen and (min-width: 1024px) {
}

*/