html, body, * {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	background-color: rgb(238, 238, 238);
}
.wrapper {
	max-width: 1200px;
	// width: 100%;
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
}
h2, h3, h4 { margin: 0; }
h2 {
	font-family: 'Courgette', cursive;
	font-weight: normal;
	font-size: 30px;
	color: $base-hover-color;
}
h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: $sombre-color;
	text-transform: uppercase;
	letter-spacing: 10px;
	word-spacing: 6px;
	margin-top: 5px;
}
h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: $sombre-color;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 5px;
}
p, a, address {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $devil-color;
	font-size: 15px;
	line-height: 1.7;
}
a {
	text-decoration: none;
	@include base-transition(.2s);
	i { @include base-transition(.2s); }
	&:hover, &:hover i { color: $base-hover-color !important; }
	&.continue {
		color: #222;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
		margin-top: 10px;
		i { margin-left: .3rem; }
	}
}
#hidder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	@include base-transition(.2s);
}
.zommableimg {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 auto;
	img {
		display: block;
		width: 100%;
		transition: all .6s cubic-bezier(0.140, 0.320, 0.210, 0.980);
	}
	&:hover img { transform: scale(1.1); }
}
